# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\snowshock35\enchantment-descriptions\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
